.hg
.svn

# VIM
*.swp
*.swo

/bin/
/externals/
/libs/
/Scripts/

.settings/
.project
.pydevproject

/site-packages/**
/site-packages/*.*

/lib_pypy/__pycache__
/lib_pypy/ctypes_config_cache/_*_cache.py
/lib_pypy/ctypes_config_cache/_*_*_.py
/lib_pypy/_libmpdec/*.o
/lib_pypy/*_cffi.c
/lib_pypy/_curses_cffi_check.c
/lib_pypy/_pypy_openssl.c
/lib_pypy/*.o
/lib_pypy/*.so
/lib_pypy/*.pyd
/lib_pypy/Release/

/lib_pypy/_pypy_util_cffi_inner.c
/lib_pypy/_tkinter/tklib_cffi.c
/lib_pypy/_tkinter/tklib_cffi.pypy-73.pyd
/lib_pypy/libcrypto-1_1.dll
/lib_pypy/libssl-1_1.dll
/lib_pypy/sqlite3.dll


/pypy/goal/pypy-translation-snapshot
/pypy/goal/pypy-llvm
/pypy/goal/*.exe
/pypy/goal/*.dll
/pypy/goal/*.lib
/pypy/goal/*.pdb

*.pyc
*.pyo
*~
__pycache__/

bin/pypy-llvm
include/*.h
include/numpy/
lib_pypy/ctypes_config_cache/_[^_]*_*.py
libpypy-llvm.*
pypy-llvm
pypy/_cache
pypy/doc/*.html
pypy/doc/config/*.html
pypy/doc/discussion/*.html
pypy/module/cpyext/src/*.o
pypy/module/cpyext/test/*.o
pypy/module/test_lib_pypy/ctypes_tests/*.o
pypy/translator/c/src/dtoa.o
pypy/translator/goal/pypy-c
pypy/translator/goal/target*-c
release/
!pypy/tool/release/
rpython/_cache/
.cache/
